header {
    background-color: black;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;

    cursor: pointer;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-image {
    width: 45px;
}

.header-title, .header-link {
    background-color: #003300;
    padding: 5px 20px;
    border-radius: 10px;
    color: #39FF14;
}

.header-link {
    padding: 0px;
    text-decoration: none;
}

.search-button {
    margin: 0px 0px 0px 100px;
}
